/HW10Arrays Practice/ContactSystem/build/
/HW10Arrays Practice/ContactSystem/nbproject/private/
/HW10Arrays Practice/ContactSystemArraylist/build/
/HW10Arrays Practice/ContactSystemArraylist/nbproject/private/
/HW08 Collections/ChickenFarm/build/
/HW08 Collections/ChickenFarm/nbproject/private/
/HW09 DataFiles/ChickenFarm/build/
/HW09 DataFiles/ChickenFarm/nbproject/private/
/HW05ChickenFarm/ChickenFarm1/build
/HW05ChickenFarm/ChickenFarm/build/
/HW05ChickenFarm/ChickenFarm/nbproject/private/
